{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

<!-- {% block header %}
<div class="alert alert-primary border text-center" role="alert">
Bought!
</div>
{% endblock %} -->

{% block main %}
<main class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(stocks|count) %}
                <tr>
                    <td colspan="0">{{ stocks[i]["symbol"] }}</td>
                    <td colspan="0">{{ stocks[i]["SUM(shares)"] }}</td>
                    <td colspan="0">$ {{ stocks[i]["price"] }}</td>
                    <td colspan="0">$ {{ stocks[i]["timestamp"] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>


    <p>{{ stocks[0], cash }}</p>

</main>
{% endblock %}
